<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAATjLWfA6xLXCCZdRVEYW15tdGjNnoJg</string>
	<key>GCM_SENDER_ID</key>
	<string>53579060333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskPraktiki.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-praktiki-task</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-praktiki-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53579060333:ios:90d3e316255826f6471b64</string>
</dict>
</plist>